
%table.cpu_widget
  %thead
  %tbody
    %tr
      %td.remove_cpu_column
        %button.remove_cpu_button{type: "button"} -
      %td.cpu_count_display_column
        %input.cpu_count_display{:disabled => true}
      %td.add_cpu_column
        %button.add_cpu_button{type: "button"} +