
.slot
  %table
    %thead
    %tbody
      %tr
        %td
          %b
            = title
        %td
        %td
        %td
      %tr
        %td Mass
        %td
          %input.gear_slot.base_mass_field.base_constraint_field
        %td Power
        %td
          %input.gear_slot.base_power_field.base_constraint_field
      %tr
        %td Adjusted
        %td
          %input.adjusted_mass_field.gear_slot{:disabled => true}
        %td Adjusted
        %td
          %input.adjusted_power_field.gear_slot{:disabled => true}
  = render "partials/cpu_widget"