:markdown
  Due to game system changes in Firefall, detailed [here](http://www.firefallthegame.com/news/path-to-launch-blog-1-progression-and-itemization) and [here](http://www.firefallthegame.com/news/path-to-launch-blog-2-resources-crafting-professions-and-more), the Firefall CPU_Analyst is obsolete.

  It will remain live here for the time being, for anybody that cares to take a look at the old Firefall frame constraints magic.

  Thank you to Red 5 for making a great game!

  <http://www.alightsabermind.com/>
  <https://github.com/nbarnes/cpu_analyst>
  <http://www.firefallthegame.com/>