%title CPU Analyst for Firefall

%strong CPU Analyst for Firefall
%br
%br

.slot
  Primary Weapon
  %br
  Mass:
  %input#primary_weapon_mass.gear_slot.mass_slot
  Power:
  %input#primary_weapon_power.gear_slot.power_slot
  %br
  Adjusted Mass:
  %input#primary_weapon_adjusted_mass.adjusted_mass_slot.gear_slot{:disabled => true}
  Adjusted Power:
  %input#primary_weapon_adjusted_mass.adjusted_power_slot.gear_slot{:disabled => true}
.slot
  Secondary Weapon
  %br
  Mass:
  %input#secondary_weapon_mass.gear_slot.mass_slot
  Power:
  %input#secondary_weapon_power.gear_slot.power_slot
  %br
  Adjusted Mass:
  %input#secondary_weapon_adjusted_mass.adjusted_mass_slot.gear_slot{:disabled => true}
  Adjusted Power:
  %input#secondary_weapon_adjusted_mass.adjusted_power_slot.gear_slot{:disabled => true}
.slot
  Ability 1
  %br
  Mass:
  %input#ability_1_mass.gear_slot.mass_slot
  Power:
  %input#ability_1_power.gear_slot.power_slot
.slot
  Ability 2
  %br
  Mass:
  %input#ability_2_mass.gear_slot.mass_slot
  Power:
  %input#ability_2_power.gear_slot.power_slot
.slot
  Ability 3
  %br
  Mass:
  %input#ability_3_mass.gear_slot.mass_slot
  Power:
  %input#ability_4_power.gear_slot.power_slot
.slot
  HKM Ability
  %br
  Mass:
  %input#HKM_ability_mass.gear_slot.mass_slot
  Power:
  %input#HKM_ability_power.gear_slot.power_slot
.slot
  Passive
  %br
  Mass:
  %input#passive_mass.gear_slot.mass_slot
  Power:
  %input#passive_power.gear_slot.power_slot
.slot
  Plating
  %br
  Mass:
  %input#plating_mass.gear_slot.mass_slot
  Power:
  %input#plating_power.gear_slot.power_slot
.slot
  Servos
  %br
  Mass:
  %input#servos_mass.gear_slot.mass_slot
  Power:
  %input#servos_power.gear_slot.power_slot
.slot
  Jumpjets
  %br
  Mass:
  %input#jumpjets_mass.gear_slot.mass_slot
  Power:
  %input#jumpjets_power.gear_slot.power_slot

%br

%span.total
  Total Mass:
  %input#total_mass_display{:disabled => true}
%span.total
  Total Power
  %input#total_power_display{:disabled => true}