%title CPU Analyst for Firefall

%strong CPU Analyst for Firefall
%br

Mass:
%input#primary_weapon_mass.gear_slot.gear_slot_mass
Power:
%input#primary_weapon_power.gear_slot.gear_slot_power
Primary Weapon
%br
Mass:
%input#secondary_weapon_mass.gear_slot.gear_slot_mass
Power:
%input#secondary_weapon_power.gear_slot.gear_slot_power
Secondary Weapon
%br
Mass:
%input#ability_1_mass.gear_slot.gear_slot_mass
Power:
%input#ability_1_power.gear_slot.gear_slot_power
Ability 1
%br
Mass:
%input#ability_2_mass.gear_slot.gear_slot_mass
Power:
%input#ability_2_power.gear_slot.gear_slot_power
Ability 2
%br
Mass:
%input#ability_3_mass.gear_slot.gear_slot_mass
Power:
%input#ability_4_power.gear_slot.gear_slot_power
Ability 3
%br
Mass:
%input#HKM_ability_mass.gear_slot.gear_slot_mass
Power:
%input#HKM_ability_power.gear_slot.gear_slot_power
HKM Ability
%br
Mass:
%input#passive_mass.gear_slot.gear_slot_mass
Power:
%input#passive_power.gear_slot.gear_slot_power
Passive
%br
Mass:
%input#plating_mass.gear_slot.gear_slot_mass
Power:
%input#plating_power.gear_slot.gear_slot_power
Plating
%br
Mass:
%input#servos_mass.gear_slot.gear_slot_mass
Power:
%input#servos_power.gear_slot.gear_slot_power
Servos
%br
Mass:
%input#jumpjets_mass.gear_slot.gear_slot_mass
Power:
%input#jumpjets_power.gear_slot.gear_slot_power
Jumpjets
%br
%br
Total Mass:
%input#total_mass_display
Total Power
%input#total_power_display
%br
%button#click_me{type: "button"} Click Me!