
button, input {
  /* font-size: 100%; */
}

input {
  width: 95%;
}

table {
  width: 100%;
  /*
  border-style: solid;
  border-width: thin;
  */
  font-size: 90%;
}

.gear_slot {
  border-style: inset;
  border-width: thick;
  border-color: gray;
}

td {
  /*
  border-style: solid;
  border-width: thin;
  */
  max-width:80px;
  white-space: nowrap;
}

.cpu_widget {
  margin-top: 5px;
  height: 30px;
}

.remove_cpu_button {
  float: left;
  margin-left: 20px;
}

.add_cpu_button {
  float: right;
  margin-right: 20px;
}

.cpu_images_display {
  margin-left: 4%;
}