
.gear_slot {
  width: 75px;
}

td {
  max-width:75px;
  width:auto;
  min-width:60px;
  white-space: nowrap;
}

input.gear_slot {
  width: 50px;
  text-align: right;
}

.slot {
  font-size: 125%;
}

.cpu_count_display {
  width: 25px;
  font: Calculator;
}