
#total_mass_display {
  float: left;
  margin-left: 2%;
}

#total_power_display {
  float: left;
  margin-left: 2%;
}

#total_CPUs_display {
  float: left;
  margin-left: 2%;
}

#excess_power {
  margin-left: 15%;
}

#movement_mod {
  margin-left: 15%;
}